<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445739407215-b2ds5cb2c4kkt4iavos1njjqecfb4k1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445739407215-b2ds5cb2c4kkt4iavos1njjqecfb4k1n</string>
	<key>API_KEY</key>
	<string>AIzaSyAlKT3XHhwdPpNB7k5fVJT4xcx3Ky_BsBI</string>
	<key>GCM_SENDER_ID</key>
	<string>445739407215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcantop.InstagramSwiftUI2</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445739407215:ios:b8cf434a12b9892211ba9a</string>
</dict>
</plist>